# =============================================================================
# Python
# =============================================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# =============================================================================
# Virtual Environment
# =============================================================================
.venv/
venv/
env/

# =============================================================================
# Environment Variables and Secrets
# =============================================================================
.env
.env.*
!.env.example

kaggle.json
.kaggle/

# =============================================================================
# Testing and Coverage
# =============================================================================
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# =============================================================================
# Logs
# =============================================================================
*.log
logs/

# =============================================================================
# Jupyter
# =============================================================================
.ipynb_checkpoints/

# =============================================================================
# Data Lake Layers
# =============================================================================
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
data/reports/*

!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/reports/.gitkeep

# =============================================================================
# OS and Editor Files
# =============================================================================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =============================================================================
# Airflow local environment
# =============================================================================
.venv-airflow/
.airflow/

# =============================================================================
# Airflow runtime files
# =============================================================================
airflow.db
airflow.db-shm
airflow.db-wal
airflow.cfg
standalone_admin_password.txt
simple_auth_manager_passwords.json.generated
*.pid