.venv/
.env

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

*.log
.ipynb_checkpoints/

data/bronze/*
data/silver/*
data/gold/*
data/reports/*

!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/reports/.gitkeep